<h1>Editing internamento</h1>

<%= render "form", internamento: @internamento %>

<br>

<div>
  <%= link_to "Show this internamento", @internamento %> |
  <%= link_to "Back to internamentos", internamentos_path %>
</div>
