<h1>Editing estoque venda</h1>

<%= render "form", estoque_venda: @estoque_venda %>

<br>

<div>
  <%= link_to "Show this estoque venda", @estoque_venda %> |
  <%= link_to "Back to estoque vendas", estoque_vendas_path %>
</div>
