<h1>Editing prescricao medica</h1>

<%= render "form", prescricao_medica: @prescricao_medica %>

<br>

<div>
  <%= link_to "Show this prescricao medica", @prescricao_medica %> |
  <%= link_to "Back to prescricao medicas", prescricao_medicas_path %>
</div>
