<h1>Editing estoque internamento</h1>

<%= render "form", estoque_internamento: @estoque_internamento %>

<br>

<div>
  <%= link_to "Show this estoque internamento", @estoque_internamento %> |
  <%= link_to "Back to estoque internamentos", estoque_internamentos_path %>
</div>
