<h1>Editing funcionario</h1>

<%= render "form", funcionario: @funcionario %>

<br>

<div>
  <%= link_to "Show this funcionario", @funcionario %> |
  <%= link_to "Back to funcionarios", funcionarios_path %>
</div>
